* {
    box-sizing: border-box;
}
.header {
    background-color: '#7ed32';
    padding: 0.5em;
    text-align: center;
}
.left-side {
    float:left;
    width:60%;
    padding: 1em;
}
.left-side-diagram {
    float:left;
    width:60%;
    height: 60%;
    padding: 1em;
    margin-right: 1em;
}
.row::after {
    content: '';
    display: table;
    clear: both;
}
.right-side {
    float:right;
    width: 30%;
    padding: 1em;
    margin-left: 0.5em;
    text-align: justify;
} 
@media screen and (max-width: 600px) {
    .left-side, .right-side {
        width:100%;
    }
}