 * {
    box-sizing: border-box;
}
/* .flex-container {
    display: flex;
} */
body {
    font-family: Arial;
    margin: 0;
}
.header {
    background: rgb(175, 236, 51);
    color: white;
    padding: 0.5em;
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 60%;
    padding: 1em;
    background-color: #f1f1f1;
}
.chart-window {
    background-color: #aaa;
    width: 100%;
    padding: 0.5em;
}
.right-side {
    flex: 40%;
    background-color: white;
    padding: 0.5em;
}
.footer {
    padding: 0.5em;
    text-align: center;
    background: #ddd;
} 
/* .scaling-svg-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 100%
}
.scaling-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
} */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
